opencv-python
scipy
cython
streamlit
numpy
pillow
# torch==1.9.0+cpu torchvision==0.10.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
# -U 'git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI'
# detectron2 -f https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/index.html